/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    font-size: 12px !important;
    margin: 20px;
    height: calc(100% - 40px);
  }

.flex-container {
    display: flex;
    &.flex-column {
      flex-direction: column;
    }
    &.v-align-c {
      align-items: center;
    }
    &.justify-center {
      justify-content: center;
    }
    &.justify-between {
      justify-content: space-between;
    }
  }
  .flex-1 {
    flex: 1;
  }
  .w-100 {
    width: 100%;
  }
  .h-100 {
    height: 100%;
  }
  .m-l-xxs {
    margin-left: 5px;
  }
  .m-l-xs {
    margin-left: 10px;
  }
  .m-r-xs {
    margin-right: 10px !important;
  }
  .m-r-s {
    margin-right: 20px;
  }
  .m-r-m {
    margin-right: 30px;
  }
  .o-a {
    overflow: auto;
  }
  .default-border {
    border: 1px solid #dedede;
  }

  .no-border {
    border: 0px !important;
  }
  .no-record {
    img {
        width: 50px;
        height: 50px;
    }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-loader {
  position: relative;
  pointer-events: none;
  &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      left: 50%;
      top: 50%;
      z-index: 9999;
      background: url("./assets/images/spinner.png") no-repeat;
      background-position: 50%;
      background-size: 50px;
      animation: rotating 2s linear infinite;
  }
  
}

.ngx-toastr {
  padding: 20px !important;
  border-radius: 8px !important;
  .toast-message {
    margin-left: 25px;
  }
}


.mat-expansion-panel-header {
  background: #f5f5f5 !important;
  height: 48px !important;
}
.mat-expansion-panel-body {
  padding: 20px !important;
}